In [1]:
for i in range(1, 11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [2]:
i = 2
while i <= 20:
    print(i)
    i += 2

2
4
6
8
10
12
14
16
18
20

In [3]:
for i in range(1, 11):
    print("5 x", i, "=", 5 * i)

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [4]:
fruits = ("Apple", "Banana", "Mango", "Orange", "Grapes")

print("First fruit:", fruits[0])
print("Last fruit:", fruits[-1])

First fruit: Apple
Last fruit: Grapes

In [5]:
t = (10, 20, 30, 40, 50)

for item in t:
    print(item)

10
20
30
40
50

In [6]:
def hello():
    print("Hello Python")

hello()

Hello Python

In [7]:
def table_of_2():
    for i in range(1, 11):
        print("2 x", i, "=", 2 * i)

table_of_2()

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

In [8]:
def even_odd(num):
    if num % 2 == 0:
        print("Even")
    else:
        print("Odd")

even_odd(7)

Odd

In [9]:
def table(num):
    for i in range(1, 11):
        print(num, "x", i, "=", num * i)

table(5)

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [10]:
def is_even(num):
    if num % 2 == 0:
        print("Even")
    else:
        print("Odd")

is_even(10)

Even