In [1]:
print("Twinkle, twinkle, little star,")
print("    How I wonder what you are!")
print("        Up above the world so high,")
print("        Like a diamond in the sky.")
print("Twinkle, twinkle, little star,")
print("    How I wonder what you are")

Twinkle, twinkle, little star,
    How I wonder what you are!
        Up above the world so high,
        Like a diamond in the sky.
Twinkle, twinkle, little star,
    How I wonder what you are

In [2]:
import sys

print("Python version is:")
print(sys.version)

Python version is:
3.13.9 | packaged by Anaconda, Inc. | (main, Oct 21 2025, 19:09:58) [MSC v.1929 64 bit (AMD64)]

In [3]:
import datetime

now = datetime.datetime.now()
print("Current date and time:")
print(now)

Current date and time:
2026-01-05 01:17:43.971877

In [4]:
radius = float(input("Enter radius of circle: "))

area = 3.14159 * radius * radius
print("Area of circle is:", area)

Enter radius of circle:  7

Area of circle is: 153.93791

In [6]:
first_name = input("Enter your first name: ")
last_name = input("Enter your last name: ")

print("Reverse order:", last_name, first_name)

Enter your first name:  Hassan
Enter your last name:  Saleem

Reverse order: Saleem Hassan

In [7]:
num1 = int(input("Enter first number: "))
num2 = int(input("Enter second number: "))

sum = num1 + num2
print("Addition is:", sum)

Enter first number:  12
Enter second number:  05

Addition is: 17

In [11]:
Calculus = int(input("Enter marks of Subject 1: "))
Expository_Writing = int(input("Enter marks of Subject 2: "))
ICT = int(input("Enter marks of Subject 3: "))
Applied_Physics = int(input("Enter marks of Subject 4: "))
Discrete_Structure = int(input("Enter marks of Subject 5: "))

total = Calculus + Expository_Writing + ICT + Applied_Physics + Discrete_Structure
percentage = (total / 500) * 100

if percentage >= 90:
    grade = "A+"
elif percentage >= 80:
    grade = "A"
elif percentage >= 70:
    grade = "B"
elif percentage >= 60:
    grade = "C"
else:
    grade = "Fail"

print("Total Marks:", total)
print("Percentage:", percentage)
print("Grade:", grade)

Enter marks of Subject 1:  87
Enter marks of Subject 2:  90
Enter marks of Subject 3:  60
Enter marks of Subject 4:  55
Enter marks of Subject 5:  50

Total Marks: 342
Percentage: 68.4
Grade: C

In [21]:
num = int(input("Enter a number: "))

if num % 2 == 0:
    print("Number is Even")
else:
    print("Number is Odd")

 56

Number is Even